@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #555151;
    font-size: 18px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 730px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .container {
        width: 440px;
    }
}

.profile-picture {
    border-radius: 50%;
    width: 130px;
}

.card {
    margin: 20px 0;
    background: #ffffff;
    border-radius: 8px;
    padding: 35px 60px;
    box-shadow: 2px 5px 11px 6px rgb(0 0 0 / 16%);
    transition: 0.4s ease transform, 0.4s ease box-shadow;
    text-align: center;
}

.card:hover {
    transform: translateX(5px) translateY(-5px);
    box-shadow: none;
}

.button {
    color: white;
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(13, 108, 172);
    padding: 12px;
    border-radius: 8px;
    transition: 0.4s ease;
    display: inline-block;
    margin-top: 15px;
}

.button:hover {
    background-color: rgba(13, 109, 172, 0.705);
}

h1,h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: rgb(13, 108, 172);
}

h1 {
    font-weight: 900;
}

p {
    line-height: 1.6;
}

.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline li {
    display: inline-block;
    margin: 0 15px;
}

.list-inline i {
    font-size: 42px;
    color: rgb(13, 108, 172);
    transition: 0.4s ease;
}

.list-inline i:hover {
    color: rgba(13, 109, 172, 0.705);
}
